# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# FastAPI
*.log
env/

# Flutter & Dart artifacts
mobile-app/.dart_tool/
mobile-app/.flutter-plugins
mobile-app/.flutter-plugins-dependencies
mobile-app/.packages
mobile-app/build/
mobile-app/.pub-cache/
mobile-app/.pub/

# IDE files
.vscode/
.idea/
*.swp